In [6]:
import pymysql
import pandas as pd

cnx = pymysql.connect(user='dev', password='ax2',host='127.0.0.1',port=3306,db='test')

df = pd.read_sql('SELECT * FROM summary', con=cnx)
print(df)

cnx.close()

variable value
0     test1   OFF
1     test2   OFF
2     test3    ON
3     test4    ON
4     test4    ON
5     test4    ON
6     test4    ON
7     test5   OFF
8     test5   OFF
9     test5    ON
10    test5    ON
11    test5    ON
12    test5    ON

In [89]:
def dict_to_table(table_name, data):
    cnx = pymysql.connect(user='dev', password='ax2',host='127.0.0.1',port=3306,db='test')
    cursor = cnx.cursor()
    query = 'INSERT INTO {} ({}) VALUES {}'.format(table_name, ', '.join(data.keys()), tuple(data.values()))
    
    cursor.execute(query)
    cnx.commit()

    cursor.close()
    cnx.close()

dict_to_table('summary', {'variable' : 'test5', 'value' : 'ON'})

In [4]:
from sqlalchemy import create_engine
import names
con_str = 'mysql+pymysql://dev:ax2@localhost:3306/test'
engine = create_engine(con_str)

# with open('Cars.csv') as fo:
#     df = pd.read_csv(fo)
    # print(df)

df = pd.DataFrame([{'id' : idx, 'name' : names.get_first_name()} for idx in range(1, 100+1)])

df.to_sql('person', if_exists='append', con=engine, index=False)