# Ex 1

## 1.a

In [18]:
names = ['Hans', 'Bo', 'Jens', 'Hannah']
namesWithH = [name for name in names if name.startswith('H')]

namesWithH

['Hans', 'Hannah']

## 1.b

In [71]:
[n**3 for n in range(1,101)]

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

## 1.c

In [70]:
names = ['Hans', 'Bo', 'Jens', 'Hannah']
namesLength = []

for name in names:
    namesLength.append((len(name), name))
    
namesLength

[(4, 'Hans'), (2, 'Bo'), (4, 'Jens'), (6, 'Hannah')]

## 1.d

In [69]:
str = 'Hello World 1, and 2'

for c in str:
    if(c.isnumeric()):
        print(c)

1
2

## 1.e

In [66]:
combinations = set([(x if x > y else y, y if x > y else x) for x in range(1,7) for y in range(1,7)])
combinations

{(1, 1),
 (2, 1),
 (2, 2),
 (3, 1),
 (3, 2),
 (3, 3),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

# Ex 2

## 2.a

In [4]:
names = ['Hans', 'Bo', 'Jens', 'Hannah']
{name: len(name) for name in names}

{'Hans': 4, 'Bo': 2, 'Jens': 4, 'Hannah': 6}

## 2.b

In [6]:
import math
numbers = list(range(1,51))
{number: math.sqrt(number) for number in numbers}

{1: 1.0,
 2: 1.4142135623730951,
 3: 1.7320508075688772,
 4: 2.0,
 5: 2.23606797749979,
 6: 2.449489742783178,
 7: 2.6457513110645907,
 8: 2.8284271247461903,
 9: 3.0,
 10: 3.1622776601683795,
 11: 3.3166247903554,
 12: 3.4641016151377544,
 13: 3.605551275463989,
 14: 3.7416573867739413,
 15: 3.872983346207417,
 16: 4.0,
 17: 4.123105625617661,
 18: 4.242640687119285,
 19: 4.358898943540674,
 20: 4.47213595499958,
 21: 4.58257569495584,
 22: 4.69041575982343,
 23: 4.795831523312719,
 24: 4.898979485566356,
 25: 5.0,
 26: 5.0990195135927845,
 27: 5.196152422706632,
 28: 5.291502622129181,
 29: 5.385164807134504,
 30: 5.477225575051661,
 31: 5.5677643628300215,
 32: 5.656854249492381,
 33: 5.744562646538029,
 34: 5.830951894845301,
 35: 5.916079783099616,
 36: 6.0,
 37: 6.082762530298219,
 38: 6.164414002968976,
 39: 6.244997998398398,
 40: 6.324555320336759,
 41: 6.4031242374328485,
 42: 6.48074069840786,
 43: 6.557438524302,
 44: 6.6332495807108,
 45: 6.708203932499369,
 46: 6.782329983125268,
 47: 6.855654600401044,
 48: 6.928203230275509,
 49: 7.0,
 50: 7.0710678118654755}

# Ex 3

In [75]:
combinations = set([(x if x > y else y, y if x > y else x) for x in range(1,7) for y in range(1,7)])
comb = {}

for x,y in combinations:
    if x == y:
        comb[(x,y)] = 1/36 * 100
    else:
        comb[(x,y)] = 2/36 * 100

comb

{(6, 6): 2.7777777777777777,
 (2, 1): 5.555555555555555,
 (6, 2): 5.555555555555555,
 (5, 1): 5.555555555555555,
 (3, 3): 2.7777777777777777,
 (5, 5): 2.7777777777777777,
 (4, 4): 2.7777777777777777,
 (6, 3): 5.555555555555555,
 (2, 2): 2.7777777777777777,
 (4, 1): 5.555555555555555,
 (1, 1): 2.7777777777777777,
 (6, 4): 5.555555555555555,
 (3, 2): 5.555555555555555,
 (5, 4): 5.555555555555555,
 (4, 2): 5.555555555555555,
 (6, 5): 5.555555555555555,
 (5, 3): 5.555555555555555,
 (6, 1): 5.555555555555555,
 (3, 1): 5.555555555555555,
 (4, 3): 5.555555555555555,
 (5, 2): 5.555555555555555}